/* Element Chalk Variables */

@import "variables";

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";
