{extend name="common/base"/}
{block name="title"}首页{__block__}{/block}
{block name="js"}<script src="__ROOT__/static/js/admin/index/{$Request.param.a}.js"></script>{/block}
{block name="css"}<link rel="stylesheet" type="text/css" href="__ROOT__/static/css/admin/index/{$Request.param.a}.css">{/block}
{block name="content"}
<div class="col-lg-10 col-lg-offset-1">
    {include file="index/left"/}
    <div class="col-lg-10">
        <div class="panel panel-default clearfix" style="overflow: auto;">
            <ol class="breadcrumb">
                <li>Home</li>
                <li>用户中心</li>
                <li class="active">{$Request.param.a}</li>
            </ol>
            {if condition="$Request.param.a eq 'board_manager'"}
                {include file="index/board_manager"}
            {elseif condition="$Request.param.a eq 'web_info'"/}
                {include file="admin/web_info"}
            {elseif condition="$Request.param.a eq 'manager'"/}
                {include file="admin/manager"}
            {elseif condition="$Request.param.a eq 'school_manager'"/}
                {include file="index/school_manager"/}
            {elseif condition="$Request.param.a eq 'apply_manager'"/}
                {include file="index/apply_manager"/}
            {else /}
                {include file="index/user_center"}
            {/if}
        </div>
    </div>
</div>
{/block}