<div class="col-lg-2 panel panel-default">
    <table class="table table-hover">
    {if condition="$Think.session.admin.role eq 0"}
        <tr>
            <td id="web_info"><a href="{:url("","a=web_info")}">网站信息</a></td>
        </tr>
        <tr>
            <td id="manager"><a href="{:url("","a=manager")}">管理员管理</a></td>
         </tr>
    {/if}
        <tr>
            <td id="user_center"><a href="{:url("","a=user_center")}">个人中心</a></td>
        </tr>
        <tr>
            <td id="board_manager"><a href="{:url("","a=board_manager")}">模版管理</a></td>
        </tr>
        <tr>
            <td id="school_manager"><a href="{:url("","a=school_manager")}">学校管理</a></td>
        </tr>
        <tr>
            <td id="apply_manager"><a href="{:url("","a=apply_manager")}">同乡会申请管理</a></td>
        </tr>
    </table>
</div>