{extend name="common/base" /}
{block name="title"}广场{__block__}{/block}
{block name="square"}active{/block}
{block name="footer"}广场{__block__}{/block}
{block name="css"}<link rel="stylesheet" type="text/css" href="__STATIC__/css/index/square/index.css">{/block}
{block name="js"}<script src="__STATIC__/js/index/square/index.js"></script>{/block}
{block name="content"}
<div class="col-sm-9 col-md-10">
{volist name="list" id="vo" empty="暂时没有版块！"}
    <div class="col-md-6">
        <div class="panel panel-default panel-black">
        	<div class="panel-heading"><a href="__ROOT__/index/board.html?id={$vo.id}" title="{$vo.name}" class="glyphicon glyphicon-comment"> {$vo.name}</a></div>
        	<div class="panel-body board-item" id="{$vo.id}">
            	内容加载中...
        	</div>
        </div>
    </div>
{/volist}
</div>
<div class="col-sm-3 col-md-2">
    <div class="panel panel-default panel-black">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tags"> 标签墙</span> <abbr title="标签越大，内容越多" class="glyphicon glyphicon-question-sign small"></abbr>
        </div>
        <div id="tagsWall" class="panel-body">
            内容加载中...
        </div>
    </div>
</div>
{/block}