{extend name="common/base"} {block name="title"}添加公告{__block__}{/block} {block name="js"}
<script src="__STATIC__/jeDate/jedate.js"></script>
<script src="__STATIC__/js/index/notice/add.js"></script>{/block} {block name="content"}
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default panel-black">
        <div class="panel-heading">添加公告</div>
        <div class="panel-body">
            <div>
                <a href="__ROOT__/index/notice/manager.html" class="btn btn-success">查看公告</a>
            </div>
            <div>
                <form method="post">
                    <div class="form-group">
                        <label for="title">公告标题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="公告标题">
                    </div>
                    <div class="form-group">
                        <label for="content">公告内容</label>
                        <textarea name="content" class="form-control" placeholder="公告内容"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="start">开始时间</label>
                        <input class="form-control" name="start" id="start" type="text" placeholder="请选择" readonly>
                    </div>
                    <div class="form-group">
                        <label for="start">结束时间</label>
                        <input class="form-control" name="stop" id="stop" type="text" placeholder="请选择" readonly>
                    </div> -->
                    <div class="form-group">
                        <input class="form-control btn btn-success" type="submit" value="确认添加">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
