{extend name="common/base"} {block name="title"}公告管理中心{__block__}{/block}
{block name="js"}<script src="__STATIC__/js/index/notice/manager.js"></script>{/block}
{block name="content"}
<div class="panel panel-default panel-black">
    <div class="panel-heading">公告管理中心</div>
    <div class="panel-body">
        <div>
            <a href="__ROOT__/index/notice/add.html" class="btn btn-success">添加公告</a>
        </div>
        <div>
            <table class="table table-hover" id="notice-list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>发布者</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{/block}