{extend name="common/base" /} {block name="title"}用户中心{__block__}{/block} {block name="footer"}用户中心{__block__}{/block} {block name="js"}
<script src="__STATIC__/js/index/user/association.js"></script>{/block} {block name="content"} {include file="user/1"}
<ol class="breadcrumb">
    <li>首页</li>
    <li class="active" id="route">同乡会中心</li>
</ol>
<div class="panel-body">
    <div class="clearfix" style="min-height: 200px;">
        <div id="as-content-panel" class="text-center">
            {if condition="$Think.session.user.aid === null"} 没有加入同乡会！
            <button id="join-btn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#join">加入一个同乡会</button>
            {if condition="$count === 0"}
            <button class="btn btn-link" type="button" data-toggle="modal" data-target="#create">没有找到？申请创建一个同乡会</button>
            {/if} {if condition="count($applyList) !== 0"}
            <table class="table table-hover">
                <caption class="text-center h4">申请记录
                    <abbr class="small" title="更改学校后所有已有申请将被拒绝，您可以重新申请！">帮助</abbr>
                </caption>
                <thead>
                    <tr>
                        <th class="text-center">学校名称</th>
                        <th class="text-center">申请名称</th>
                        <th class="text-center">申请理由</th>
                        <th class="text-center">申请时间</th>
                        <th class="text-center">回复时间</th>
                        <th class="text-center">申请结果</th>
                        <th class="text-center">备注</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="applyList" id="vo"}
                    <tr>
                        <td>{$vo.school['sname']}</td>
                        <td>{$vo.sname}</td>
                        <td>{$vo.reason}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.reply_time}</td>
                        <td>{switch name="$vo.status" } {case value="0"}
                            <span class="text-info glyphicon glyphicon-refresh">
                                审核中</span> {/case} {case value="1"}
                            <span class="text-success glyphicon glyphicon-ok-sign">
                                通过</span> {/case} {default /}
                            <span class="text-danger glyphicon glyphicon-remove-sign">
                                不通过</span> {/switch}
                        </td>
                        <td>{$vo.msg}</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {/if} {else/}
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">我的同乡会</a></li>
                    <li role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">通讯录</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>同乡会名称</th>
                                    <td>{$as.aname}</td>
                                </tr>
                                <tr>
                                    <th>同乡会简介</th>
                                    <td>{$as.abstract}</td>
                                </tr>
                                <tr>
                                    <th>管理员</th>
                                    <td>{volist name="$managers" id="vo"} {$vo.user.nickname} {/volist}
                                    </td>
                                </tr>
                                <tr>
                                    <th>创建时间</th>
                                    <td>{$as.create_time}</td>
                                </tr>
                            </tbody>
                        </table>
                        <form method="post">
                            <input type="hidden" name="action" value="quit">
                            <button type="submit" class="btn btn-danger">退出同乡会</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="address">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">用户名</th>
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">性别</th>
                                    <th class="text-center">手机</th>
                                    <th class="text-center">QQ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="$users" id="vo"}
                                <tr>
                                    <td>{$vo.uid}</td>
                                    <td>{$vo.nickname}</td>
                                    <td>{$vo.uname}</td>
                                    <td>{$vo.gender}</td>
                                    <td>{$vo.phone}</td>
                                    <td>{$vo.qq}</td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {/if}
        </div>
        {if condition="$Think.session.user.aid === null"}
        <div class="modal fade" tabindex="-1" role="dialog" id="join">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">加入一个同乡会</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label" for="school">所属学校</label>
                                <input type="text" class="form-control" id="school" placeholder="所属学校" name="school" value="{$Think.session.user.school['sname']}" disabled>
                                <span id="schoolHint" class="help-block">请从
                                <a href="__ROOT__/index/user/index.html" title="个人中心">个人中心</a>
                                修改</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="as">选择已有同乡会</label>
                                <select class="form-control" id="as" name="as">
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <input type="hidden" name="action" value="join">
                            <button type="submit" class="btn btn-primary">立即加入</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="create">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">申请一个同乡会</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="form-group has-feedback">
                                <label class="control-label" for="school">所属学校</label>
                                <input type="text" class="form-control" id="school" placeholder="所属学校" name="school" value="{$Think.session.user.school['sname']}" disabled>
                                <span id="schoolIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="schoolHint" class="help-block">请从
                                <a href="__ROOT__/index/user/index.html" title="个人中心">个人中心</a>
                                修改</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="title">同乡会名称</label>
                                <input type="text" class="form-control" id="title" placeholder="同乡会名称" name="title">
                                <span id="titleIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="titleHint" class="help-block"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="reason">申请理由</label>
                                <textarea class="form-control" id="reason" placeholder="申请理由" name="reason"></textarea>
                                <span id="reasonIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="reasonHint" class="help-block"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <input type="hidden" name="action" value="create">
                            <button type="submit" class="btn btn-primary">立即申请</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {/if}
    </div>
</div>
{include file="user/2"} {/block}
