{extend name="common/base" /}
{block name="title"} - 用户中心{__block__}{/block}
{block name="footer"}用户中心{__block__}{/block}
{block name="js"}<script src="__STATIC__/js/index/user/index.js"></script>{/block}
{block name="content"}
<div class="container-fuild">
<div class="col-md-2">
	<div class="panel panel-default text-center">
		<table class="table table-hover">
		    <tr>
		        <td id="user_center"><a href="javascript:void(0);">个人中心</a></td>
		    </tr>
		    <tr>
		        <td id="board_manager"><a href="javascript:void(0);">模版管理</a></td>
		    </tr>
		    <tr>
		        <td><a href="javascript:void">操作3</a></td>
		    </tr>
		    <tr>
		        <td><a href="javascript:void">操作4</a></td>
		    </tr>
		    <tr>
		        <td><a href="javascript:void">操作5</a></td>
		    </tr>
		</table>
    </div>
</div>
<div class="col-md-10">
	<div class="panel panel-default">
	    <ol class="breadcrumb">
	        <li>Home</li>
	        <li class="active" id="route">用户中心</li>
	    </ol>
	    <div style="min-height: 200px;">
	    	
	    </div>
    </div>
</div>
</div>
{/block}