{extend name="common/base" /} {block name="title"}用户中心{__block__}{/block} {block name="footer"}用户中心{__block__}{/block} {block name="js"}
<script src="__STATIC__/js/index/user/index.js"></script>{/block} {block name="content"} {include file="user/1"}
<ol class="breadcrumb">
    <li>首页</li>
    <li class="active" id="route">用户中心</li>
</ol>
<div class="panel-body">
    <div class="clearfix" style="min-height: 200px;">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <form method="post">
                <table class="table table-hover table-bordered table-striped">
                    <tr>
                        <th>ID</th>
                        <td>{$Think.session.user.uid}</td>
                    </tr>
                    <tr>
                        <th>用户名</th>
                        <td>{$Think.session.user.nickname}</td>
                    </tr>
                    <tr>
                        <th>头像</th>
                        <td>
                            <label for="headicon">
                            {if condition="$Think.session.user.head_icon == null"}
                            <img class="head-icon-lg bg-info" src="__STATIC__/img/index/index/logo.png" alt=""> {else/}
                            <img class="head-icon-lg bg-info" src="__STATIC__{$Think.session.user.head_icon}" alt=""> {/if}
                            </label>
                            <br>
                            <span id="file-path"></span><form id="upload-head">
                            <input type="file" name="headicon" id="headicon" class="hidden"></form>
                            <input type="button" name="" value="上传" class="btn btn-success" for="headicon" id="btn-upload">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="姓名" name="uname" value="{$Think.session.user.uname}">
                        </td>
                    </tr>
                    <tr>
                        <th>性别</th>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio1" value="" {if condition="$Think.session.user.gender == null" }checked{/if}>保密
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio2" value="男" {if condition="$Think.session.user.gender == '男'" }checked{/if}>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="inlineRadio3" value="女" {if condition="$Think.session.user.gender == '女'" }checked{/if}>女
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>手机</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="手机" name="phone" value="{$Think.session.user.phone}">
                        </td>
                    </tr>
                    <tr>
                        <th>短号</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="短号" name="short_num" value="{$Think.session.user.short_num}">
                        </td>
                    </tr>
                    <tr>
                        <th>QQ</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="QQ" name="qq" value="{$Think.session.user.qq}">
                        </td>
                    </tr>
                    <tr>
                        <th>微信</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="微信" name="wechat" value="{$Think.session.user.wechat}">
                        </td>
                    </tr>
                    <tr>
                        <th>宿舍</th>
                        <td>
                            <input type="text" class="form-control" id="" placeholder="宿舍" name="dor_num" value="{$Think.session.user.dor_num}">
                        </td>
                    </tr>
                    <tr>
                        <th>学校</th>
                        <td>
                            <button class="form-control btn btn-default" type="button" data-toggle="modal" data-target="#joinSchool">
                                {if condition="$Think.session.user.school eq null"} 选择你的学校 {else /} {$Think.session.user.school['sname']} {/if}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>注册时间</th>
                        <td>{$Think.session.user.reg_time}</td>
                    </tr>
                </table>
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#setPassword">修改密码</button>
                <input type="hidden" name="action" value="update">
                <input class="btn btn-primary pull-right" type="submit" value="提交修改">
            </form>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="setPassword">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">修改密码</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <input type="hidden" name="action" value="setPassword">
                            <div class="form-group has-feedback">
                                <label class="control-label" for="oldPassword">旧密码</label>
                                <input type="password" class="form-control" id="oldPassword" placeholder="请输入旧密码" name="oldPassword">
                                <span id="oldPasswordIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="oldPasswordHint" class="help-block"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="newPassword">新密码</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码" name="newPassword">
                                <span id="newPasswordIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="newPasswordHint" class="help-block"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="newPassword2">验证密码</label>
                                <input type="password" class="form-control" id="newPassword2" placeholder="请再次输入新密码">
                                <span id="newPassword2Icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="newPassword2Hint" class="help-block"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">保存修改</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="joinSchool">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">选择你的学校</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <table class="table table-border-none">
                                <tr>
                                    <td>
                                        <small class="text-danger">一个账号最多只能更改2次学校！剩余次数为： <big><b>2</b></big> 次。</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="provinces" class="form-control">
                                            <option>未选择</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="cities" class="form-control">
                                            <option>未选择</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="school" id="schools" class="form-control">
                                            <option>未选择</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <input type="hidden" name="action" value="school">
                            <button type="submit" class="btn btn-primary">确认提交</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
{include file="user/2"} {/block}
