{extend name="common/base" /}
{block name="title"}用户登录中心{__block__}{/block}
{block name="footer"}用户登录中心{__block__}{/block}
{block name="js"}<script src="__STATIC__/js/index/user/login.js"></script>{/block}
{block name="content"}
<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">用户登录中心</div>
        <div class="panel-body">
            <form id="loginForm" method="post" action="">
                <div class="form-group has-feedback">
                    <label class="control-label" for="username">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
                    <span id="usernameIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="usernameHint" class="help-block"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
                    <span id="passwordIcon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="passwordHint" class="help-block"></span>
                </div>
                <a href="__ROOT__/index/user/register.html" class="btn btn-default">注册</a>
                <button type="submit" class="btn btn-primary pull-right">登录</button>
                <button type="button" class="btn btn-link pull-right">忘记密码？</button>
            </form>
        </div>
    </div>
</div>
{/block}