{extend name="common/base" /} {block name="title"}我的帖子{__block__}{/block} {block name="footer"}我的帖子{__block__}{/block} {block name="js"}
<script src="__STATIC__/js/index/user/post.js"></script>{/block} {block name="content"} {include file="user/1"}
<ol class="breadcrumb">
    <li>首页</li>
    <li class="active" id="route">我的帖子</li>
</ol>
<div class="panel-body">
    <div class="clearfix" style="min-height: 200px;">
        <div id="as-content-panel" class="text-center">
            <table id="my-post-list" class="table table-default">
                <thead>
                    <tr>
                        <th class="text-center">帖子编号</th>
                        <th class="text-center">版块</th>
                        <th class="text-center">标题</th>
                        <th class="text-center">发布时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{include file="user/2"} {/block}
