{extend name="common/base"} {block name="title"}我的信箱{__block__}{/block}
{block name="js"}<script src="__STATIC__/js/index/letter/index.js"></script>{/block}
{block name="content"}
<div class="container" style="background-color: white;">
    <div class="row text-center">
        <h3>
            我的信箱
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-2 bg-warning">
            <div class="text-center h4">
                私信消息
            </div>
        </div>
        <div class="col-sm-10">
            <table id="letter-list" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>标题</th>
                        <th>发送者</th>
                        <th>发送时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{/block}
